<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-1">
          <p></p>
            <%= image_tag @user.avatar.url(:small), class: "img-circle"%>
          </div>
          <div class="col-md-10">
            <h4 class="panel-title">
              <br>
              <%=@user.full_name.try(:upcase) %><br />
              <small><i class="fa fa-circle"></i> <%=@user.role.try(:titleize) %></small>
              <a href="#"><small></small></a>
            </h4>
          </div>
        </div>
      </div>
      <div class="panel-body">
      <div class="nav-tabs-navigation">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          </li>
          <li>

          </li>
        </ul>
      </div>
      <div class="content">
        <div id="my-tab-content" class="tab-content">

        </div>
      </div>
    </div>
  </div>
</div>
